.board {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-block-end: 0;

  .header {
    background-color: var(--board-header-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding-block: 12px;
    padding-inline: 10px 16px;

    .board-info,
    .board-actions {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .board-name {
      cursor: pointer;
      //todo - move to generic place
      transition-property: background-color, border-color, box-shadow;
      transition-duration: 85ms;
      transition-timing-function: ease;

      &:hover {
        background-color: var(--dynamic-button-hovered);
        color: var(--dynamic-text);
      }

      input {
        margin: 0;
        border: 0;
        color: var(--ds-text);
        width: fit-content;
        max-width: 200px;
        height: 32px;
        padding-inline: 10px;
        background-color: var(--ds-background-input, #ffffff);
        font-size: 18px;
        font-weight: bold;
        border-radius: 3px;
        //border-radius: 5px;
        box-shadow: inset 0 0 0 1px var(--ds-border-input, #091e4224);
      }

      h1 {
        margin: 0;
        max-width: 200px;
        padding-inline: 10px;
        color: var(--dynamic-text);
        font-size: 18px;
        font-weight: bold;
        line-height: 32px;

        @include text-clamp();
      }
    }
  }

  .canvas {
    position: relative;
    margin-block-start: 12px;
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;

    .board-card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;
      width: 272px;
      max-height: 100%;
      padding: 8px;
      border-radius: 12px;
      background-color: var(--tr-background-list);
      box-shadow: 0 1px 1px #091e4240, 0 0 1px #091e424f;
      color: var(--ds-text-subtle, #44546f);

      &.collapsed {
        width: auto;
        padding: 8px 4px 16px;
        cursor: pointer;

        &:hover {

          background-color: var(--ds-background-neutral-hovered, rgba(166, 197, 226, 0.16));
          color: var(--ds-icon, #44546f);

          button {
            &:hover {
              background-color: transparent;
            }
          }
        }

        .top {
          writing-mode: vertical-lr;
        }

        .name {
          order: 1;
          padding: 4px;
        }

        .counter {
          order: 2;
          font-size: 14px;
        }
      }

      .top {
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .name {
        flex: 1;
        padding-block: 6px;
        padding-inline: 8px 12px;

        h2 {
          font-size: 14px;
          font-weight: 600;
        }
      }

      .dynamic-content {
        overflow-y: auto;
        scrollbar-color: var(--ds-background-neutral-hovered, #091e4224) var(--ds-background-neutral, #091e420f);
        scrollbar-width: thin;

        .tasks-list {
          padding: 0;
          display: flex;
          flex-direction: column;
          row-gap: 8px;
          padding-block: 2px;
          padding-inline: 4px;

          li {
            position: relative;
            min-height: 36px;
            border-radius: 8px;
            background-color: var(--ds-surface-raised, #ffffff);
            box-shadow: 0 1px 1px #091e4240, 0 0 1px #091e424f;
            color: var(--ds-text);
            cursor: pointer;

            &:hover {
              .edit-btn {
                display: flex;
              }
            }

            &:hover,
            &:focus-within {
              outline: var(--ds-border-focused, #388bff) solid 2px;
            }

            &.drag {
              opacity: .5;
            }
          }

          .img-container {
            border-radius: 8px 8px 0 0;
            background-size: cover;
            background-color: rgb(35, 126, 156);
            min-height: 176px;
            max-height: 200px;
            background-repeat: no-repeat;
            background-position: center;
          }

          .task-content {
            display: flow-root;
            position: relative;
            z-index: 10;
            min-height: 24px;
            padding: 8px 12px 4px;
            color: var(--ds-text);
          }

          a {
            display: block;
            color: var(--ds-text);
            margin-block-end: 4px;
            word-break: break-all;
            white-space: normal;

            &:hover {
              text-decoration: none;
            }
          }

          .task-badges {

          }

          .edit-btn {
            display: none;
            position: absolute;
            z-index: 10;
            top: 2px;
            right: 2px;
            background-color: var(--ds-surface-raised);
          }
        }
      }

      .footer {
        display: flex;
        align-items: center;

        .add-btn {
        }
      }
    }
  }
}

.task-preview {
  width: 248px;
  min-height: 36px;
  border-radius: 8px;
  background-color: var(--ds-surface-raised, #ffffff);
  box-shadow: 0 1px 1px #091e4240, 0 0 1px #091e424f;
  color: var(--ds-text);
  transform: rotate(3deg);

  .img-container {
    border-radius: 8px 8px 0 0;
    background-size: cover;
    background-color: rgb(35, 126, 156);
    min-height: 176px;
    max-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .task-content {
    display: flow-root;
    position: relative;
    z-index: 10;
    min-height: 24px;
    padding: 8px 12px 4px;
    color: var(--ds-text);
  }

  a {
    display: block;
    color: var(--ds-text);
    margin-block-end: 4px;
    word-break: break-all;
    white-space: normal;

    &:hover {
      text-decoration: none;
    }
  }

  .task-badges {

  }
}