.header-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: var(--surface);
  font-weight: 500;
  padding: 8px;
  max-height: 48px;
  color: var(--text-white);
  font-size: 14px;
  border-bottom: 1px solid var(--dynamic-text-transparent);

  .header-left-side {
    display: flex;
    align-items: center;
    min-width: 50vw;

    .trello-logo-gif {
      margin-top: 3px;
      max-width: 80px;
      height: 15px;
      margin-left: 15px;
      margin-right: 15px;
      opacity: 0.60;
    }

    .logo {
      margin: 18px;
      font-size: 20px;
      opacity: 0.85;
    }

    .trello-logo {
      max-width: 80px;
      max-height: 30px;
      margin-left: 10px;
      margin-right: 20px;
      opacity: 0.55;
    }

    .drop-down-buttons-container {
      display: flex;
      justify-content: center;
      margin-right: 15px;

      .drop-down-button {
        opacity: 0.85;
        height: 30px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: var(--ds-background-neutral-hovered, rgba(166, 197, 226, 0.16));
          filter: brightness(1.2);
        }

        .arrow-down {
          padding-top: 1px;
          margin-left: 3px;
        }
      }
    }

    .button-create {
      width: 60px;
      border-radius: 7%;
      height: 30px;
      margin-left: 10px;
      font-size: 12px;
      font-weight: 550;

      &:hover {
        filter: brightness(1.2);
      }
    }
  }

  .header-right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    .input-container {
      background-color: #282a2e;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3px;
      border-color: var(--text-white);
      border-width: 1.5px;
      border-style: solid;
      border-radius: 3px;
      transition: all 0.1s ease;
      padding-left: 7px;
      opacity: 0.70;
      width: 12vw;

      &:focus-within {
        width: 35vw;
        border-color: #0e93ff;
      }

      .search-bar {
        background-color: #282a2e;
        height: 28px;
        border: none;
        outline: none;
        flex-grow: 1;
        min-width: 0;
        transition: width 0.1s ease;
        color: var(--text-white);
      }

   
    }

    .notifications {
      font-size: 18px;
      transform: rotate(+45deg);
    }
  }
}
