.nav-task-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    .btn-nav {
      color: var(--ds-text);
    }
  }
}

@media (max-width: 750px) {
  .nav-task-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
    margin-top: 20px;

    span {
      display: block;
      grid-column: 1 / -1;
      margin-bottom: 10px;
    }

     li {
      .btn-nav {
        align-items: center; 
      }
    }
  }
}
