.sidebar-workspace {
  position: sticky;
  margin: 40px 0 0;
  max-height: 90vh;
  padding: 0 16px;
  width: 256px;
  height: 100vh;

  .top-sidebar-container {
     color: var(--ds-text);
     font-size: 14px;
     line-height: 20px;

     .top-sidebar {
      border-bottom: 1px solid var(--ds-border);
      list-style: none;
      margin: 0;
      margin-bottom: 5px;
      padding: 0;

      .top-list-item {
        display: flex;
        align-items: center;
        border-radius: 8px;
        min-height: 40px;
        padding: 6px 8px;
        margin: 0 0 0 4px;
        overflow: hidden;
        gap: 8px;
        cursor: pointer;
       
        a {
         text-decoration: none;
         color: var(--ds-text);
        }

        &:hover {
          background-color: var(--ds-background-neutral-hovered);
          color: var(--ds-text);
        }

        &.active {
          background-color: var(--ds-background-selected);
          color: var(--ds-text-selected);
        }
      }
     }
  }

  .bottom-sidebar {
   padding-left: 0;
    list-style: none;
    color: var(--ds-text);
    width: 100%;

    .workspaces {
      display: flex;
      padding-left: 10px;

      
    
      span {
        font-size: 12px; 
        font-weight: 600;
      }
    }

    .dropdown-menu-header {
      display: flex;
      align-items: center;
      margin: 5px;
      font-size: 14px;
      padding: 10px;
      border-radius: 8px;
      width: 100%;
      gap: 10px;
      cursor: pointer;

      div {
        width: 20px;
        height: 20px;
        background-color: aliceblue;
      }

      &:hover {
        background-color: var(--ds-background-neutral-hovered);
        color: var(--ds-text);
      }
    }
  }
}