.nav-task-body {
  display: flex;
  flex-direction: column;

  span {
    font-size: 12px;
    margin-top: 10px;
  }

  .btn-container {
    display: flex;
    width: 100%;

    span {
      display: flex;
      font-size: 14px;
    }

    .btn-nav {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      margin: 5px;
      padding: 5px 10px;
      border-radius: 3px;
      color: var(--ds-text);
      width: 100%;
    }
  }
}
@media (max-width: 750px) {
  .nav-task-body {
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
    margin-top: 20px;

    span {
      grid-column: 1 / -1;
      display: block;
      margin-bottom: 10px;
    }

     .btn-container {
      .btn-nav {
        align-items: center; 
      }
    }
  }
}
