.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--surface);
  font-size: 14px;
  color: var(--text);
  width: 16px;
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 9;

  &.expanded {
    width: 260px;
  }

   &.collapsed {
     .sidebar-container {
       position: fixed;
     }

     .expand-button {
       width: 26px;
       height: 26px;
       background-color: var(--dynamic-background-transparent);
       border: 1px solid var(--dynamic-text-transparent2);
       position: absolute;
       top: 15px;
       left: 2px;
       border-radius: 50%;
       aspect-ratio: 1 / 0;
     }
   }

  .expand-button {
    z-index: 100;

    //&.ant-btn {
    //  display: flex;
    //  justify-content: center;
    //  align-items: center;
    //  border: none;
    //  padding: 0;
    //
    //  &.collapsed {
    //    width: 24px;
    //    height: 24px;
    //    margin: 0;
    //    background-color: var(--ds-background-inverse-subtle);
    //    border: 1px solid var(--dynamic-text-transparent);
    //    position: absolute;
    //    top: 10px;
    //    left: 0;
    //    border-radius: 50%;
    //  }
    //}
  }

  .avatar {
    width: 32px;
    height: 32px;
    background: linear-gradient(var(--ds-background-accent-green-bolder, #006644), var(--ds-background-accent-green-subtle, #00875a));
    border-radius: 4px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-inline: 8px 4px;

    .fullname {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }

    .status {
      font-size: 12px;
      line-height: 20px;
    }
  }

  .ant-select {
    .ant-select-selector {
      background-color: var(--surface);
      color: var(--text);
      border: 1px solid transparent;
    }

    &:hover .ant-select-selector {
      border-color: var(--ds-border-input-hovered);
    }

    &.ant-select-focused .ant-select-selector {
      background-color: #22272b;
      border-color: #579dff;
      color: var(--ds-text);
    }

    .ant-select-arrow {
      color: var(--ds-text);
    }
  }
}

.workspace-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 0 4px 12px;
  height: 32px;

  &:hover {
    .details {
      display: flex;
    }
  }

  .details[aria-expanded=true] {
    display: flex;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  transition: 0.3s;

  &:hover {
    .details {
      display: flex;
    }

    .star {
      display: flex;
    }
  }

  .details[aria-expanded=true] {
    display: flex;
  }
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 10px;

  .details {
    display: none;
  }

  .star {
    display: none;
  }
}
