.sidebar-workspace {
  position: sticky;
  margin: 38px 9px 0;
  padding: 0 18px;
  width: 274px;
  max-height: 200vh;
  font-weight: 600;

  .top-sidebar-container {
     font-size: 14px;
     line-height: 20px;

     .top-sidebar {
      border-bottom: 1px solid var(--ds-border);
      list-style: none;
      margin: 0;
      margin-bottom: 5px;
      padding: 0;

      .top-list-item {
        display: flex;
        align-items: center;
        border-radius: 8px;
        min-height: 38px;
        padding: 1px 8px;
        margin-bottom: 2px;
        overflow: hidden;
        gap: 8px;
        cursor: pointer;
       
        a {
         display: flex;
         align-items: center;
         text-decoration: none;
         color: var(--ds-text);
         gap: 10px;
        }

        &:hover {
          background-color: var(--ds-background-neutral-hovered);
          color: var(--ds-text);
        }

        &:focus-within,
        &[data-active="true"],
        &.active {
          background-color: rgba(45, 103, 209, 0.2);
          color: var(--ds-text-blue);
          outline: none;

          a {
           color: var(--ds-text-blue);
          }
        }
      }
     }
  }

  .bottom-sidebar {
   padding-left: 0;
    list-style: none;
    color: var(--ds-text);
    width: 100%;

    .workspaces {
      display: flex;
      padding-left: 10px;

      
    
      span {
        font-size: 12px; 
        font-weight: 600;
      }
    }

    .dropdown-menu-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      font-size: 14px;
      padding: 12px 5px 12px 0px;
      border-radius: 8px;
      width: 100%;
      gap: 10px;
      cursor: pointer;

      .user-info-container {
        display: flex;
        align-items: center;
        padding-inline: 10px;
        gap: 10px;

        span {
          display: flex;
        }

        .avatar {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 3px;
          background: linear-gradient(var(--ds-background-accent-green-bolder, #006644), var(--ds-background-accent-green-subtle, #00875a));
          color: #333;
          font-weight: 700;
          font-size: 18px;
        }
      }


      &:hover {
        background-color: var(--ds-background-neutral-hovered);
        color: var(--ds-text);
      }
    }
    
    .dropdown-menu {
      display: flex;
      flex-direction: column;
      padding: 0;


     .dropdown-menu-item {
       display: flex;
       padding: 10px 20px;
       margin: 2px 0 5px 2px;
       border-radius: 8px;
       font-size: 14px;
       font-weight: 400;
       width: 100%;
       gap: 5px;
       cursor: pointer;
       

       &:hover {
         background-color: var(--ds-background-neutral-hovered);
         color: var(--ds-text);
       }

        &:focus-within,
      &[data-active="true"] {
         background-color: rgba(45, 103, 209, 0.2);
         color: var(--ds-text-blue);
         outline: none; 
      }
     }
    }
  }
}