.task-details {
  padding: 20px;
  background-color: var(--ds-background-neutral-task);
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--ds-text);

  .btn {
    color: var(--ds-text);
  }

  .task-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;

    .group-container {
      display: flex;
      margin-left: 65px;
      font-size: 14px;
      height: 30px;
      width: 100%;

      p {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 5px;
      }
    }

    .title {
      display: flex;
      align-items: center;
      height: 36px;
      gap: 10px;
      width: 100%;

      .title-text {
        font-size: 20px;
        width: 100%;
      }
    }

    .title-input {
      display: flex;
      font-size: 20px;
      color: var(--ds-text);
      background-color: var(--surface);
      font-weight: 600;
      width: 100%;
      max-width: 600px;
      border-radius: 5px;
      margin-left: -5px;
      transition: ease-in-out 0.3s;
      height: 36px;
      border: none;
      outline: none;


      &:focus {
        box-shadow: inset 0 0 0 2px var(--ds-border-focused-task);
      }
    }
  }

  .task-body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
    margin-top: 10px;

    .task-body-content {
      width: 100%;

      .actions-container {
        display: flex;
        gap: 10px;
        margin-left: 32px;
        margin-bottom: 24px;

        .action {
          display: flex;
          flex-direction: column;
          max-width: 330px;

          span {
            display: flex;
            height: 32px;
            margin-bottom: 0;
            overflow: hidden;
            border-radius: 3px;
            font-size: 12px;
            line-height: 32px;
            gap: 2px;
          }

          .members-container,
          .labels-list {
            display: flex;
            gap: 4px;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;

            .btn-nav {
              color: var(--ds-text);
            }
          }

          div {
            display: flex;
            align-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;
          }
        }
      }

      .description-container {
        .action-title {
          display: flex;
          align-items: center;
          gap: 8px;
          margin-block-end: 8px;
          font-size: 16px;
        }

        .tox-tinymce {
          border: 2px solid var(--ds-border-input, #091e4224);
          border-radius: 0;
        }

        .tox-editor-header,
        .tox-toolbar-overlord,
        .tox-toolbar__primary {
          background-color: #1D2125;
        }

        .tox-tbtn {
          background-color: #1D2125;
          color: #B6C2CF;
          cursor: pointer;

          &.tox-tbtn--disabled {
            cursor: default;
            opacity: .5;
          }

          svg {
            fill: #B6C2CF;
          }
        }

        .tox-edit-area {
          &:before {
            border: none;
          }
        }

        .tox-edit-area__iframe {
          background-color: #22272B;

          * {
            color: #B6C2CF;
          }
        }

        .tox-statusbar {
          display: none;
        }

        //.textarea-description {
        //  background-color: var('--surface');
        //}

        .btn-description {
          align-items: flex-start;
          padding-top: 10px;
          width: 100%;
          height: 8vh;
          max-width: -webkit-fill-available;
          margin-top: 15px;
          margin-left: 30px;
          color: var(--ds-text);
        }
      }

      .activity-container {
        margin-top: 20px;

        .action-title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .icon-wrapper {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }

        .btn-activity {
          color: var(--ds-text);
        }

        .activities {
          margin-top: 15px;

          .activity {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;

            .activity-content {
              .activity-member {
                font-size: 16px;
                font-weight: 600;
              }
              .activity-txt {
                font-size: 14px;
                font-weight: 100;
              }
              .timestamp {
                font-size: 10px;
              }
            }

            .input-activity {
              width: 92%;
              padding: 8px;
              border-radius: 8px;
              background-color: var(--surface);
              color: var(--ds-text-subtle);
              border: none;
            }

            span {
              display: flex;
              align-items: flex-end;
              font-size: 13px;
              gap: 5px;

              span {
                font-size: 16px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}