{
  "plugins": ["prettier-plugin-organize-imports"],
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false
}
