.auth-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 40px;
  background-color: var(--signup-page-background-color);
  min-height: 100vh;

  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 40px;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
    background-color: var(--dynamic-text);
    max-width: 400px;
    width: 100%;
    z-index: 1;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;


      h2 {
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        color: var(--ds-text-blue);
        width: 100%;
        line-height: 1;
      }

    }

    .error {
      color: var(--ds-background-accent-red-subtler-pressed);
      font-size: 14px;
      margin-bottom: 16px;
      text-align: center;
      width: 100%;
    }

    .form-group {
      margin-bottom: 16px;
      width: 100%;

      label {
        display: block;
        margin-bottom: 4px;
        color: var(--ds-text-inverse);
        font-size: 14px;
        font-weight: 500;
      }

      input {
        width: 100%;
        padding: 8px 12px;
        font-size: 14px;
        border: 2px solid var(--input-border);
        border-radius: 3px;
        background-color: var(--dynamic-text);;
        box-sizing: border-box;
        height: 40px;

        &:focus {
          border-color: var(--ds-text-selected);
          outline: none;
          background-color: var(--dynamic-text);;
        }

        &::placeholder {
          color: var(--ds-text-subtle);
        }
      }
    }

    .submit-btn {
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
      background-color: var(--ds-background-button-blue);
      color: var(--dynamic-text);
      height: 40px;
      margin-top: 8px;
      cursor: pointer;

      &:hover {
        background-color: var(--dynamic-button-blue-hovered);
      }
    }

    .link {
      margin-top: 16px;
      text-align: center;
      font-size: 14px;
      width: 100%;

      a {
        color: #0052CC;
        text-decoration: none;
        margin-left: 4px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .images-container {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      bottom: 0;

      &[alt="left-image"] {
        left: 0;
        width: 400px;
        height: auto;
      }

      &[alt="right-image"] {
        right: 0;
        width: 400px;
        height: auto;
      }
    }
  }
}