body {
 width: 100%;
 height: 100vh;
 overflow: hidden;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  font-weight: 600; 
  display: flex;


  .home-nav {
   display: flex;
   height: 60px;
   margin: 0 auto;
   width: 100%;
   max-width: 1320px;

   .logo-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 28px;
    cursor: pointer;

   }

   .btns {
    display: flex;

    .home-btn {
     display:flex;
     align-items: stretch;
     align-self: stretch;
     padding: 20px 16px 16px;
     font-size: 1rem;
     border: none;
     background-color: transparent;
     line-height: 24px;
     text-size-adjust: 100%;
     font-stretch: 100%;
     color: #172b4d;
     cursor: pointer;
    
    &:hover {
      color: var(--ds-background-button-blue);
    }
    
    }
   }

   .nav-link {
    display: flex;
    margin: 0 0 0 auto;
    align-items: center;
    padding: 8px 80px;
    background-color:var(--dynamic-button-highlighted-text);
    color:var(--dynamic-text);
    text-decoration: none;

    &:hover {
      background-color: #253b60
    }
   }
  }
}

.home-main {
  margin-top: 60px;
  background-image: url(/src/ui/Icons//png-icons/wave.svg), linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
  background-position: center calc(100% + 120px), 0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  color: var(--dynamic-text);
  height: 67%;

    .bg {
      padding-top: 10%;
      margin-inline: auto;
      width: 100%;
      max-width: 1140px;

      .content {
        align-items: center;
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;


        .left {
          display: block;
          flex: 0 0 auto;
          text-align: left;
          font-size: 32px;
          width: 50%;
          margin-bottom: 0;
          padding-bottom: 128px;
        }

        .form {
          display: flex;
          gap: 10px;
          justify-content: start;

          .email-input {
            font-size: 16px;
            padding: 11.2px 12px 12.8px;
            border: 2px solid rgb(223, 225, 230);
            border-radius: 5px;
            max-width: 300px;
            transition: all 0.3s ease;
            width: 376px;
            outline: none;

            &:focus {
              border-color: #0065ff;
              box-shadow: 0 0 0 3px rgba(0, 101, 255, 0.3);
              transform: translateY(-2px);  
            }

          }

          .email-button {
           appearance: none;
           display: inline-flex;
           align-items: center;
           text-align: center;
           padding: 11.2px 16px 12.8px;
           border: 1px solid rgb(0, 101, 255);
           border-radius: 4.8px;
           color: #fff !important;
           font-size: 16px;
           background-color: #0065ff;
           text-decoration: none;
           transition: 0.25s ease-out;
           cursor: pointer;

            &:hover {
              background-color: var(--ds-background-button-blue);
              border-color: var(--dynamic-button-blue-hovered);
            }
          }
        }
      
        .right {
          width: 50%;
        }
      }
        
    }

}

