body {
 width: 100%;
 height: 100vh;
 overflow: hidden;
 box-sizing: border-box;
 font-family: 'Charlie text', sans-serif
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  z-index: 1000;


  .home-nav {
   display: flex;
   align-self: center;
   -webkit-box-align: stretch;
   align-items: stretch;
   height: 60px;
   margin: 0 auto;
   width: 100%;
   max-width: 1320px;

   .logo-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 1rem;

   }

   .btns {
    display: flex;

    .home-btn {
     display:flex;
     align-items: stretch;
     align-self: stretch;
     padding: 1.25rem 1rem 1rem;
     font-size: 1rem;
     border: none;
     background-color: transparent;
     line-height: 24px;
     text-size-adjust: 100%;
     font-stretch: 100%;
     color: #172b4d;
     cursor: pointer;
    
    &:hover {
      color: #0065ff;
    }
    
    }
   }

   .nav-link {
    display: flex;
    margin: 0 0 0 auto;
    align-items: center;
    padding: 0.5rem 5rem;
    background-color: #172b4d;
    poniter: cursor;

    a {
      text-decoration: none;
      color: var(--dynamic-text)
    }
   }
  }
}

.home-main {
  margin-top: 60px;
  background-image: url(/src/ui/Icons//png-icons/wave.svg), linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
  background-position: center calc(100% + 120px), 0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  color: #fff;
  height: 67%;

    .bg {
      padding-top: 10%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
      max-width: 1140px;

      .content {
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;

        .left {
          display: block;
          flex: 0 0 auto;
          text-align: left;
          font-size: 2rem;
          width: 50%;
          margin-bottom: 0;
          padding: 0 16px 8rem;
        }

        .form {
          display: flex;
          gap: 1rem;
          justify-content: start;

          .email-input {
            font-size: 1rem;
            padding: .7rem .75rem .8rem;
            border: 1px solid rgb(223, 225, 230);
            border-radius: .3rem;
            max-width: 300px;
            transition: .25s ease-out;
            width: 376px;
          }

          .email-button {
            appearance: none;
            -webkit-box-align: center;
            align-items: center;
            border-radius: .3rem;
            cursor: pointer;
            display: inline-flex;
            text-align: center;
            transition: .25s ease-out;
            text-decoration: none;
            background-color: #0065ff;
            border: 1px solid rgb(0, 101, 255);
            font-size: 1rem;
            padding: .7rem 1rem .8rem;
            color: #fff !important;
          }
        }
      
        .right {
          width: 50%;
        }
      }
        
    }

}

