* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Segoe UI, sans-serif;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
  max-width: 100%;
}

.pointer{
  cursor: pointer;
}

//p {
//    margin: 0 0 1em;
//}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

