// Font Sizes
.fs12 { font-size: rem(12); }
.fs14 { font-size: rem(14); }
.fs18 { font-size: rem(18); }
.fs20 { font-size: rem(20); }
.fs24 { font-size: rem(24); }
.fs28 { font-size: rem(28); }
.fs30 { font-size: rem(30); }

// flex helpers
.flex {
    display: flex;

    > *.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }
}

// Media helpers
.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}