:root {
  // Colors
  //dark theme
  --surface: #1D2125;
  --text: #9fadbc;
  --border: #555;
  --light-blue: #599eff;
  --text-white: #B6C2CF;
  --board-header-background-color: #0000003d;
  --dynamic-text: #FFFFFF;
  --dynamic-button: transparent;
  --ds-background-input: #22272B;
  --ds-border-input: #738496;
  --ds-text: #B6C2CF;
  --ds-background-inverse-subtle: #FFFFFF29;
  --ds-background-selected: #e9f2ff;
  --ds-background-accent-green-bolder: #006644;
  --ds-background-accent-green-subtle: #00875a;
  --dynamic-text-transparent: hsla(0, 0%, 100%, 0.16);
  --dynamic-text-transparent2: hsla(211, 18%, 68%, 0.16);

  //Buttons
  --ds-background-brand-bold: #579DFF;
  --ds-background-brand-bold-hovered: #85B8FF;
  --ds-text-selected: #0c66e4;
  --ds-text-blue: #287eff;
  --dynamic-button-highlighted: #DCDFE4;
  --dynamic-button-highlighted-hovered: #FFFFFF;
  --dynamic-button-highlighted-text: #172B4D;
  --ds-background-neutral: #A1BDD914;
  --ds-background-neutral-hovered: #A6C5E229;
  --dynamic-button-hovered: rgba(255, 255, 255, 0.20);
  --ds-surface-raised: #22272B;
  --ds-background-button-blue: #0056e0;
  --dynamic-button-blue-hovered: #0065ff;
  --dynamic-background-transparent: hsla(206, 13.7%, 10%, 0.9);

  //Popover Menu
  --ds-surface-overlay: #282E33;
  --ds-shadow-overlay: 0 0 0 1px #39424a, 0 8px 12px #0304045C, 0 0 1px 1px #03040480;

  //Fonts
  --ds-text-inverse: #1D2125;
  --ds-text-subtle: #9FADBC;

  //Board Card
  --tr-background-list: #101204;
  --ds-icon: #9FADBC;
  --ds-icon-subtle: #8C9BAB;

  //Tasks Card
  --ds-border-focused: #85B8FF;

  // Breakpoints
  --mobile-breakpoint: 460px;
  --narrow-breakpoint: 720px;
  --normal-breakpoint: 960px;
}