:root {
    // Colors
    //dark theme
    --surface: #1D2125;
    --text:#9fadbc;
    --border: #555;
    --board-header-background-color: #0000003d;
    --dynamic-text: #FFFFFF;
    --dynamic-button: transparent;
    --dynamic-button-highlighted-hovered: #FFFFFF;
    --dynamic-button-hovered: rgba(255, 255, 255, 0.20);
    --ds-background-neutral-hovered:#a6c5e229;
    --ds-background-input: #22272B;

    // Breakpoints
    --mobile-breakpoint: 460px;
    --narrow-breakpoint: 720px;
    --normal-breakpoint: 960px;
}