:root {
  // Colors
  //dark theme
  --surface: #1D2125;
  --text: #9fadbc;
  --border: #555;
  --light-blue: #599eff;
  --text-white: #B6C2CF;
  --board-header-background-color: #0000003d;
  --dynamic-text: #FFFFFF;
  --dynamic-button: transparent;
  --ds-background-input: #22272B;
  --ds-border-input: #738496;
  --ds-text: #B6C2CF;
  --ds-background-inverse-subtle: #FFFFFF29;
  --ds-background-selected: #e9f2ff;
  --ds-background-accent-green-bolder: #006644;
  --ds-background-accent-green-subtle: #00875a;
  --ds-border-focused: #85B8FF;
  --dynamic-text-transparent: hsla(0, 0%, 100%, 0.16);
  --ds-background-neutral: #091e420f; 
  --ds-background-accent-orange-subtler: #702E00;
  --ds-background-accent-orange-subtler-hovered: #A54800;
  --ds-background-accent-yellow-subtler: #533F04;
  --ds-background-accent-yellow-subtler-hovered: #7F5F01;
  --ds-surface-sunken:#161a1d;

  //Buttons
  --ds-background-brand-bold: #579DFF;
  --ds-background-brand-bold-hovered: #85B8FF;
  --ds-text-selected: #0c66e4;
  --ds-text-blue: #287eff;
  --dynamic-button-highlighted: #DCDFE4;
  --dynamic-button-highlighted-hovered: #FFFFFF;
  --dynamic-button-highlighted-text: #172B4D;
  --ds-background-neutral: #A1BDD914;
  --ds-background-neutral-hovered: #A6C5E229;
  --dynamic-button-hovered: rgba(255, 255, 255, 0.20);
  --ds-surface-raised: #22272B;
  --ds-surface-overlay: #282E33;
  --ds-background-button-blue: #0056e0;
  --dynamic-button-blue-hovered: #0065ff;
  --ds-background-brand-bold: #0c66e4;
  --ds-background-danger-bold: #F87168;
  //Popover Menu
  --ds-surface-overlay: #282E33;
  --ds-shadow-overlay: 0 0 0 1px #39424a, 0 8px 12px #0304045C, 0 0 1px 1px #03040480;

  //Fonts
  --ds-text-inverse: #1D2125;
  --ds-text-subtle: #9FADBC;

  //Board Card
  --tr-background-list: #101204;
  --ds-icon: #9FADBC;
  --ds-icon-subtle: #8C9BAB;

  //Tasks Card
  --ds-border-focused: #85B8FF;

  // Borders
  --ds-border-focused: #388bff;

  // Breakpoints
  --mobile-breakpoint: 460px;
  --narrow-breakpoint: 720px;
  --normal-breakpoint: 960px;
  // Labels
    --ds-background-accent-lime-subtlest: #28311B;
    --ds-background-accent-lime-subtlest-hovered: #37471F;
    --ds-background-accent-lime-subtlest-pressed: #4C6B1F;
    --ds-background-accent-lime-subtler: #37471F;
    --ds-background-accent-lime-subtler-hovered: #4C6B1F;
    --ds-background-accent-lime-subtler-pressed: #5B7F24;
    --ds-background-accent-lime-subtle: #4C6B1F;
    --ds-background-accent-lime-subtle-hovered: #37471F;
    --ds-background-accent-lime-subtle-pressed: #28311B;
    --ds-background-accent-lime-bolder: #94C748;
    --ds-background-accent-lime-bolder-hovered: #B3DF72;
    --ds-background-accent-lime-bolder-pressed: #D3F1A7;
    --ds-background-accent-red-subtlest: #42221F;
    --ds-background-accent-red-subtlest-hovered: #5D1F1A;
    --ds-background-accent-red-subtlest-pressed: #AE2E24;
    --ds-background-accent-red-subtler: #5D1F1A;
    --ds-background-accent-red-subtler-hovered: #AE2E24;
    --ds-background-accent-red-subtler-pressed: #C9372C;
    --ds-background-accent-red-subtle: #AE2E24;
    --ds-background-accent-red-subtle-hovered: #5D1F1A;
    --ds-background-accent-red-subtle-pressed: #42221F;
    --ds-background-accent-red-bolder: #F87168;
    --ds-background-accent-red-bolder-hovered: #FD9891;
    --ds-background-accent-red-bolder-pressed: #FFD5D2;
    --ds-background-accent-orange-subtlest: #38291E;
    --ds-background-accent-orange-subtlest-hovered: #702E00;
    --ds-background-accent-orange-subtlest-pressed: #A54800;
    --ds-background-accent-orange-subtler: #702E00;
    --ds-background-accent-orange-subtler-hovered: #A54800;
    --ds-background-accent-orange-subtler-pressed: #C25100;
    --ds-background-accent-orange-subtle: #A54800;
    --ds-background-accent-orange-subtle-hovered: #702E00;
    --ds-background-accent-orange-subtle-pressed: #38291E;
    --ds-background-accent-orange-bolder: #FEA362;
    --ds-background-accent-orange-bolder-hovered: #FEC195;
    --ds-background-accent-orange-bolder-pressed: #FEDEC8;
    --ds-background-accent-yellow-subtlest: #332E1B;
    --ds-background-accent-yellow-subtlest-hovered: #533F04;
    --ds-background-accent-yellow-subtlest-pressed: #7F5F01;
    --ds-background-accent-yellow-subtler: #533F04;
    --ds-background-accent-yellow-subtler-hovered: #7F5F01;
    --ds-background-accent-yellow-subtler-pressed: #946F00;
    --ds-background-accent-yellow-subtle: #7F5F01;
    --ds-background-accent-yellow-subtle-hovered: #533F04;
    --ds-background-accent-yellow-subtle-pressed: #332E1B;
    --ds-background-accent-yellow-bolder: #E2B203;
    --ds-background-accent-yellow-bolder-hovered: #F5CD47;
    --ds-background-accent-yellow-bolder-pressed: #F8E6A0;
    --ds-background-accent-green-subtlest: #1C3329;
    --ds-background-accent-green-subtlest-hovered: #164B35;
    --ds-background-accent-green-subtlest-pressed: #216E4E;
    --ds-background-accent-green-subtler: #164B35;
    --ds-background-accent-green-subtler-hovered: #216E4E;
    --ds-background-accent-green-subtler-pressed: #1F845A;
    --ds-background-accent-green-subtle: #216E4E;
    --ds-background-accent-green-subtle-hovered: #164B35;
    --ds-background-accent-green-subtle-pressed: #1C3329;
    --ds-background-accent-green-bolder: #4BCE97;
    --ds-background-accent-green-bolder-hovered: #7EE2B8;
    --ds-background-accent-green-bolder-pressed: #BAF3DB;
    --ds-background-accent-teal-subtlest: #1E3137;
    --ds-background-accent-teal-subtlest-hovered: #164555;
    --ds-background-accent-teal-subtlest-pressed: #206A83;
    --ds-background-accent-teal-subtler: #164555;
    --ds-background-accent-teal-subtler-hovered: #206A83;
    --ds-background-accent-teal-subtler-pressed: #227D9B;
    --ds-background-accent-teal-subtle: #206A83;
    --ds-background-accent-teal-subtle-hovered: #164555;
    --ds-background-accent-teal-subtle-pressed: #1E3137;
    --ds-background-accent-teal-bolder: #6CC3E0;
    --ds-background-accent-teal-bolder-hovered: #9DD9EE;
    --ds-background-accent-teal-bolder-pressed: #C6EDFB;
    --ds-background-accent-blue-subtlest: #1C2B41;
    --ds-background-accent-blue-subtlest-hovered: #09326C;
    --ds-background-accent-blue-subtlest-pressed: #0055CC;
    --ds-background-accent-blue-subtler: #09326C;
    --ds-background-accent-blue-subtler-hovered: #0055CC;
    --ds-background-accent-blue-subtler-pressed: #0C66E4;
    --ds-background-accent-blue-subtle: #0055CC;
    --ds-background-accent-blue-subtle-hovered: #09326C;
    --ds-background-accent-blue-subtle-pressed: #1C2B41;
    --ds-background-accent-blue-bolder: #579DFF;
    --ds-background-accent-blue-bolder-hovered: #85B8FF;
    --ds-background-accent-blue-bolder-pressed: #CCE0FF;
    --ds-background-accent-purple-subtlest: #2B273F;
    --ds-background-accent-purple-subtlest-hovered: #352C63;
    --ds-background-accent-purple-subtlest-pressed: #5E4DB2;
    --ds-background-accent-purple-subtler: #352C63;
    --ds-background-accent-purple-subtler-hovered: #5E4DB2;
    --ds-background-accent-purple-subtler-pressed: #6E5DC6;
    --ds-background-accent-purple-subtle: #5E4DB2;
    --ds-background-accent-purple-subtle-hovered: #352C63;
    --ds-background-accent-purple-subtle-pressed: #2B273F;
    --ds-background-accent-purple-bolder: #9F8FEF;
    --ds-background-accent-purple-bolder-hovered: #B8ACF6;
    --ds-background-accent-purple-bolder-pressed: #DFD8FD;
    --ds-background-accent-magenta-subtler: #50253F;
    --ds-background-accent-magenta-subtler-hovered: #943D73;
    --ds-background-accent-magenta-subtler-pressed: #AE4787;
    --ds-background-accent-magenta-subtle: #943D73;
    --ds-background-accent-magenta-subtle-hovered: #50253F;
    --ds-background-accent-magenta-subtle-pressed: #3D2232;
    --ds-background-accent-magenta-bolder: #E774BB;
    --ds-background-accent-magenta-bolder-hovered: #F797D2;
    --ds-background-accent-magenta-bolder-pressed: #FDD0EC;
    --ds-background-accent-gray-subtlest: #2C333A;
    --ds-background-accent-gray-subtlest-hovered: #38414A;
    --ds-background-accent-gray-subtlest-pressed: #454F59;
    --ds-background-accent-gray-subtler: #454F59;
    --ds-background-accent-gray-subtler-hovered: #596773;
    --ds-background-accent-gray-subtler-pressed: #738496;
    --ds-background-accent-gray-subtle: #596773;
    --ds-background-accent-gray-subtle-hovered: #454F59;
    --ds-background-accent-gray-subtle-pressed: #38414A;
    --ds-background-accent-gray-bolder: #8C9BAB;
    --ds-background-accent-gray-bolder-hovered: #9FADBC;
    --ds-background-accent-gray-bolder-pressed: #B6C2CF;
}